

<header class="header-container">
  <div class="filter-container">
    @for (filter of paramsList; track filter.id) {
      <button mat-raised-button class="filter-button" (click)="toggleFilter(filter)">
        <span class="material-icons">{{ filter.icon }}</span>
        {{ filter.filter }}
      </button>
    }

    <button (click)="startFilter()" mat-raised-button class="filter-button">
      <span class="material-icons">search</span>
    </button>
  </div>

  <div class="filter-inputs">
    @if (selectedFilter === 'Experience') {
      <div>
        <label>Years of Experience:</label>
        <input matInput type="number" [(ngModel)]="experienceYears" placeholder="Enter years" />
      </div>
    }

    @if(selectedFilter === 'Mark') {
      <div>
        <label>mark more than:</label>
        <input matInput type="number" [(ngModel)]="testMark" placeholder="Enter the minimum mark" />
      </div>
    }
    @if (selectedFilter === 'Languages') {
      <div>
        <label>Choose Programming Languages:</label>
        <mat-select multiple [(ngModel)]="selectedLanguages">
          @for (lang of programmingLanguages; track lang) {
            <mat-option [value]="lang">{{ lang }}</mat-option>
          }
        </mat-select>
      </div>
    }

    @if (selectedFilter === 'EnglishLevel') {
      <div>
        <label>English Level:</label>
        <mat-radio-group [(ngModel)]="englishLevel">
          <mat-radio-button value="Beginner">Beginner</mat-radio-button>
          <mat-radio-button value="Intermediate">Intermediate</mat-radio-button>
          <mat-radio-button value="Advanced">Advanced</mat-radio-button>
          <mat-radio-button value="Fluent">Fluent</mat-radio-button>
        </mat-radio-group>
      </div>
    }

    @if (selectedFilter === 'Education') {
      <div>
        <label>Education:</label>
        <mat-select [(ngModel)]="educationLevel">
          <mat-option value="College">College</mat-option>
          <mat-option value="University">University</mat-option>
          <mat-option value="Another">Another</mat-option>
        </mat-select>
      </div>
    }
  </div>
</header>



@if (candidatesList && candidatesList.length > 0) {

   @for (c of candidatesList; track c) {
     <app-candidate-display [candidate]="c"></app-candidate-display>
   }
 } @else if(this.showNoCandidatesMessage==false) {
   <p>Loading candidates...</p>
 }
 @else {
   <p>No candidates found.</p>
 }
