
<div class="page-container">
  <div class="image-container">
    <mat-card class="full-width-card">
      <div class="image-overlay">
        <img mat-card-image [src]="images[currentIndex]" alt="Rotating Image" class="full-width-image">
      </div>
    </mat-card>
  </div>
  <button mat-raised-button color="accent" class="start-button" (click)="navigateToRegister()">
    Let's Start
  </button>
</div>
<app-success-stories></app-success-stories>

<div id="about-section">
  <app-about></app-about>
</div>
