

 <header class="header">
    <div class="header-buttons" >
        <button mat-raised-button class="turquoise-button" (click)="openLoginModal()">
            <mat-icon>login</mat-icon> Sign in
        </button>
        <button mat-raised-button class="turquoise-button" (click)="openRegisterModal()">
            <mat-icon>person_add</mat-icon> Sign up
        </button>
    </div>
</header>
 <app-login-modal [isVisible]="isLoginModalVisible"></app-login-modal>
 <app-register-modal [isVisible]="isRegisterModalVisible"></app-register-modal>



